:root {
  --light-blue: #F4F7FE;
}

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

#root{
  width: 100vw;
  min-height: 100vh;
  height: auto;
}
