:root {
  --light-blue: #F4F7FE;
  --medium-blue: #707EAE;
  --deep-blue: #2B3674;
  --white: #FFFFFF;

  --light-red: #EC7A7A;
  --light-green: #65D5AC;
}

@font-face {
  font-family: DMSans-Regular;
  src: url('./assets/fonts/DM_Sans/DMSans-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'DMSans-Regular';
  margin: 0;
}

html {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

#root{
  width: 100vw;
  min-height: 100vh;
  height: auto;
}
