.container-div_dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    width: 100vw;
    height: 100%;

    padding: 20px 0;
  }

  .header-div_dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    height: 150px;
    width: 100%;
  }

  .leftHeader-div_dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;
  }

  .rightHeader-div_dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50%;
  }

  .text-p_PillField {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--medium-blue)
  }

  .title-h1_dashboard {
    color: var(--deep-blue);
  }

  .image-div_PillField {
    width: 41px;
    height: 41px;

    border-radius: 100%;
    overflow: hidden;
  }

  .body-div_dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    height: auto;
    width: 100%;
  }
